ng-complete-guide/DotNetCore&Angular/DatingApp/bin
ng-complete-guide/DotNetCore&Angular/DatingApp/obj
ng-complete-guide/DotNetCore&Angular/DatingApp/.vscode
ng-complete-guide/DotNetCore&Angular/DatingApp/*.db